<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{css/style.css}" />
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" th:href="@{css/admin.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <script src="webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js" th:src="@{webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{webjars/jquery/3.5.1/jquery.min.js}" src="webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header class="container navbar navbar-expand-md navbar-dark semi-back " th:fragment="commonHeader(index)">
    <nav class="navbar navbar-inverse">
        <h2 class="navbar-brand p-0 " style="color:#ccd1d8"> 演示系统</h2>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item flex-fill">
                <a th:class="${index}==0?'nav-link active':'text-light  nav-link'" href="/">拓扑展示</a>
            </li>
            <li class="nav-item flex-fill">
                <a th:class="${index}==1?'nav-link active':'text-light  nav-link' " href="/analyse">动态分析</a>
            </li>
            <li class="nav-item flex-fill">
                <a th:class="${index}==2?'nav-link active':'text-light  nav-link' " href="#">功能扩展</a>
            </li>
            <li class="nav-item flex-fill ">
                <a th:class="${index}==3?'nav-link active':'text-light  nav-link' " href="/test">TestG6</a>
            </li>
        </ul>
    </nav>

</header>


<footer class="semi-back gyb-footbar" th:fragment="commonFooter">
    <span>
        Copyright © 2020 - 2024 BUPT. All Rights Reserved
    </span>
</footer>

</body>
</html>