<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>捷变时空弹性网络仿真演示系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{js/g6.min.js}"></script>
    <script th:src="@{webjars/axios/dist/axios.min.js}"></script>
    <script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/home.js}"></script>
</head>
<body>

<header th:replace="~{fragments/commons :: commonHeader(0)}">
</header>

<div class="row">
    <div class="col-1 "></div>
    <div class="col-10 text-white">
        <div class="card bg-light gyb-box">
            <h3 class="card-header bg-info">
                网络关系图
            </h3>
            <div class="card-body">
                <div id="my_network">
                </div>
            </div>
            <div class="row bg-light m-auto text-dark ">
                <form class="form-inline">
                    <label for="num_node" class="text-center">节点个数:</label>
                    <input type="number" id="num_node" class="form-control col-3" value="20"/>
                    <button type="button" class="btn btn-info" onclick="upgradeNet(1)">生成网络</button>
                </form>
                <button class="btn btn-info" data-toggle="tooltip" data-placement="top"
                        title="按住 'shift' 并点选两个节点作为起点和终点。"
                        onclick="findShortPath()">查看最短路径
                </button>
            </div>
        </div>

    </div>


</div>


<footer class="m-auto" th:replace="~{fragments/commons :: commonFooter}">BUPT</footer>


<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    let graph = null;

    function upgradeNet(num) {
        $.ajax({
            url: "/upgradeNet",
            type: "GET",
            dataType: "JSON",
            data: {
                num_node: $('#num_node').val(),
            },
            error: function () {
                alert("获取失败");
            },
            success(net) {
                if (num == 0) {
                    drawNet(net, 'my_network');
                }
                if (num == 1) {
                    graph.changeData(getData(net, 'my_network'));
                }
            }
        });
    }

    upgradeNet(0);

</script>

</body>
</html>