<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>捷变时空弹性网络仿真演示系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<header th:replace="~{fragments/commons :: commonHeader(0)}">
</header>

<div class="row" style="height: 88%">
    <div class="col-1 "></div>
    <div class="col-10 text-white">
        <div class="card bg-light gyb-box" style="height: 98%; ">
            <h3 class="card-header bg-info">
                网络关系图 <small>抗毁值：<span id="value_of_net">0.000</span></small>
            </h3>
            <div class="card-body" style="height: 100%">
                <div id="my_network">
                </div>
            </div>
            <div class="row m-auto text-dark ">
                <label for="num_node" class="text-center ">节点数:</label>
                <input type="number" id="num_node" class="form-control col-sm-2" value="20"/>
                <button type="button" class="btn btn-info click-button " onclick="loadNet(1)">生成网络</button>
                <a class="btn btn-info click-button" data-toggle="tooltip" data-placement="top"
                   title="按住 'shift' 并点选两个节点作为起点和终点。"
                   onclick="findShortPath()">查看最短路径
                </a>
                <button class="btn btn-info click-button" onclick="saveNet()">保存</button>

                <button class="btn btn-info click-button" data-toggle="modal" data-target="#networkList">加载已有网络</button>
            </div>
        </div>

    </div>


</div>


<div class="modal fade" id="networkList">
    <div class="modal-dialog modal-lg networklist-modal">
        <div id="tableContent"></div>
    </div>
</div>


<footer class="m-auto" th:replace="~{fragments/commons :: commonFooter}">BUPT</footer>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/axios/dist/axios.min.js}"></script>
<script th:src="@{js/g6.min.js}"></script>
<script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{js/home.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    let graph = null;


    function loadNet(num) {
        $.ajax({
            url: num == 0 ? "/getNetInfo" : "/getNewNet",
            type: "GET",
            dataType: "JSON",
            data: {
                num_node: $('#num_node').val(),
            },
            error: function () {
                alert("获取失败");
            },
            success(net) {
                if (num === 0) {

                    drawNet(net, 'my_network');
                    to_page(1);
                } else {
                    updateNet(net, 'my_network');
                }

            }
        });
    }

    loadNet(0);

    //跳转到哪一页
    function to_page(num) {
        $.ajax({
            url: "/netWorkList",
            type: "GET",
            data: {
                pageNumber: num
            },
            success(result) {
                $("#tableContent").html(result);
            },
            error: function () {
                alert("获取数据失败");
            }
        })
    }


    function loadNewNet(net) {
        $.ajax({
            url: "/loadNewNet",
            data: {
                id: net.id,
            },
            success(result) {
                if (result) {
                    updateNet(net, 'my_network');
                    alert("加载新网络成功");
                } else {
                    alert("加载失败");
                }

            },
            error: function (e) {
                alert("服务端更新失败" + e)
                return;
            }
        })

    }

    function saveNet() {
        let confirmDelete = confirm("是否要保存或更新该网络？")
        if (confirmDelete === false) {
            return;
        }
        $.ajax({
                url: "/saveNet",
                success(result) {
                    if (result) {
                        to_page(1)
                        alert("保存成功");
                    } else {
                        alert("保存失败");
                    }

                },
                error: function () {
                    alert("保存失败")
                }
            }
        );
    }

    function deleteNet(id, pageNumber) {
        let confirmDelete = confirm("是否要删除该网络？")
        if (confirmDelete === false) {
            return;
        }
        $.ajax({
            url: "/deleteNet",
            type: "GET",
            data: {
                id: id,
            },
            success(result) {
                if (result) {
                    alert("删除成功");
                    to_page(pageNumber);
                } else {
                    alert("删除失败");
                }

            },
            error: function () {
                alert("删除失败")
            }
        })
    }

</script>

</body>
</html>