<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>关于G6</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{js/g6.min.js}"></script>
    <script th:src="@{webjars/axios/dist/axios.min.js}"></script>
    <script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/home.js}"></script>
</head>
<body>
<header>
    <div th:replace="~{fragments/commons :: commonHeader(3)}"></div>
</header>
<div class="row">
    <div class="col-1 "></div>
    <div class="col-9 text-white">
        <div class="card bg-light gyb-box">
            <h3 class="card-header bg-info">
                G6 Tutorial
            </h3>
            <div class="card-body" id="g6_test" style="height: 750px">

            </div>
        </div>
    </div>
    <div class="col-2 text-white">
        <div class="card bg-light gyb-box">
            <h3 class="card-header bg-info">拓展功能</h3>
            <div class="card-body">
                <button class="btn btn-info" data-toggle="tooltip" data-placement="top"
                        title="按住 'shift' 并点选两个节点作为起点和终点。"
                        onclick="findShortPath()">查看最短路径
                </button>
            </div>

        </div>

    </div>
</div>
<footer class="m-auto" th:replace="~{fragments/commons :: commonFooter}"></footer>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    let graph = null;


    function upgradeNet() {
        $.ajax({
            url: "/upgradeNet",
            type: "GET",
            dataType: "JSON",
            data: {
                num_node: 20,
                num_edge: 40,
            },
            error: function () {
                alert("获取失败");
            },
            success(net) {
                drawNet(graph, net, 'g6_test')
            }
        });
    }

    upgradeNet();

</script>

</body>
</html>