<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>模拟演示</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header>
    <div th:replace="~{fragments/commons :: commonHeader(3)}"></div>
</header>

<div class="gyb-box" id="map" style="height: 90%; max-height: 90%">

</div>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/js/amap.js" th:src="@{js/amap.js}"></script>
<script src="../static/js/loca.js" th:src="@{js/loca.js}"></script>
<script src="/webjars/axios/0.21.1/dist/axios.min.js" th:src="@{webjars/axios/dist/axios.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    let bounds = [
        [100, 18],
        [150, 33]
    ];
    let origin_point = [120.3, 26];
    let width_length = [1, 1];
    let center_point = [124, 25];
    let colors = ["#f1ddce", "#d9e7d1", "#0eaae6"]
    let geo_nodes, geo_edges;
    //[122, 131, 22, 32]


    let gaoMap = new AMap.Map('map', {
        zoom: 8,
        center: center_point,
        viewMode: '3D',
        pitch: 43,
        resizeEnable: true,
        showLabel: false,
        mapStyle: 'amap://styles/darkblue',
    });

    let loca = new Loca.Container({
        map: gaoMap
    })
    gaoMap.on('complete', initMap);

    let scale = new AMap.Scale({
            visible: true
        }),
        toolBar = new AMap.ToolBar({
            visible: true,
            position: {
                top: '110px',
                right: '40px'
            }
        }),
        controlBar = new AMap.ControlBar({
            visible: true,
            position: {
                top: '10px',
                right: '10px'
            }
        });
    gaoMap.addControl(scale);
    gaoMap.addControl(toolBar);
    gaoMap.addControl(controlBar);


    function initMap() {

        axios.get('getNetInfo')
            .then((res) => {
                parseNetFromJson(res.data);
                addGaoLayers();
            })
            .catch((e) => console.log(e))
    }

    let icons = [
        'icons/帆船.png',
        'icons/热气球.png'
    ]

    function addGaoLayers() {

        let iconLayer = new Loca.IconLayer({
            zIndex: 10,
            opacity: 1,
            visible: true,
            zooms: [2, 22]
        });

        iconLayer.setSource(new Loca.GeoJSONSource({
            data: geo_nodes,
        }));
        iconLayer.setStyle({
            rotation: 0,
            unit: 'px',
            icon: (index, item) => {
                return icons[item.properties.type % icons.length];
            },
            iconSize: [25, 25],
        });

        let lineLayer = new Loca.LineLayer({
            zIndex: 10,
            opacity: 0.6,
            visible: true,
            zooms: [2, 20]
        });

        lineLayer.setSource(new Loca.GeoJSONSource({
            data: geo_edges,
        }));

        lineLayer.setStyle({
            color: (index, item) => colors[item.properties.fromType],
            lineWidth: 1.2,
            altitude: (index, feature) => index * 300,
            dashArray: [10, 0, 10, 0],
        });

        let edgeLayer = new Loca.LinkLayer({
            zIndex: 15,
            opacity: 1,
            visible: true,
            zooms: [2, 22],
        });
        edgeLayer.setSource(new Loca.GeoJSONSource({
            data: geo_edges
        }));
        edgeLayer.setStyle({
            lineColors: (index, item) => {
                return [colors[item.link.properties.fromType], colors[item.link.properties.toType]]
            },
            height: (index, item) => 1000,
            smoothSteps: 20,

        });

        let nodeLayer = new Loca.ScatterLayer({
            zIndex: 15,
            opacity: 1,
            visible: true,
            zooms: [2, 22],

        });
        nodeLayer.setSource(new Loca.GeoJSONSource({
            data: geo_nodes,
        }))
        nodeLayer.setStyle({
            color: (index, item) => colors[item.properties.type],
            unit: 'px',
            size: [10, 10],
            borderWidth: 0,
            altitude: (index, feature) => index * 500,

        })

        loca.add(iconLayer);
        //loca.add(lineLayer);
        loca.add(edgeLayer);
        //loca.add(nodeLayer);

        let dat = new Loca.Dat();
        dat.addLayer(nodeLayer, '节点');
        dat.addLayer(edgeLayer, '连接线');
        dat.addLayer(iconLayer, 'icon');
        dat.addLayer(lineLayer, 'Line');
        loca.animate.start();
    }


    function parseNetFromJson(net) {
        let points = {};
        let geo_one_node = [];
        let geo_one_edge = [];
        net.nodeList.forEach((node) => {
            let p = getXY(node.x, node.y);
            points[node.id] = p;
            geo_one_node.push({
                'type': 'Feature',
                'geometry': {
                    'type': 'Point',
                    'coordinates': p,
                },
                'properties': {
                    'ip': node.ip,
                    'type': node.type,
                    'cluster': node.cluster,
                    'invulnerability': node.invulnerability,
                    'capacity': node.capacity
                }
            })
        })
        geo_nodes = {
            'type': 'FeatureCollection',
            'features': geo_one_node,
        }
        net.edgeList.forEach((edge) => {
            geo_one_edge.push({
                'type': 'Feature',
                'geometry': {
                    'type': 'LineString',
                    'coordinates': [points[edge.from], points[edge.to]],
                },
                'properties': {
                    'fromIP': geo_nodes.features[edge.from].properties.ip,
                    'toIP': geo_nodes.features[edge.to].properties.ip,
                    'toType': geo_nodes.features[edge.to].properties.type,
                    'fromType': geo_nodes.features[edge.from].properties.type
                }
            })
        })
        geo_edges = {
            'type': 'FeatureCollection',
            'features': geo_one_edge,
        }

    }


    function getXY(x, y) {
        let X = origin_point[0] + width_length[0] * x / 100;
        let Y = origin_point[1] - width_length[1] * y / 100;
        return [X, Y];
    }
</script>
</body>

</html>