<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>三维动态演示</title>


    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="webjars/zTree/3.5.37/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"
          th:href="@{webjars/zTree/css/zTreeStyle/zTreeStyle.css}"/>

    <link href="/static/lib/Cesium/Widgets/widgets.css" rel="stylesheet" type="text/css"
          th:href="@{lib/Cesium/Widgets/widgets.css}"/>
    <link href="/static/lib/mars3d/mars3d.css" rel="stylesheet" type="text/css" th:href="@{lib/mars3d/mars3d.css}"/>
    <link href="/static/css/style.css" type="text/css" th:href="@{css/style.css}" rel="stylesheet"/>
    <link href="/static/css/mars3d_style.css" type="text/css" th:href="@{css/mars3d_style.css}" rel="stylesheet"/>
    <link href="/static/css/divpoint.css" type="text/css" th:href="@{css/divpoint.css}" rel="stylesheet"/>
    <style>
        html,
        body,
        #app,
        #container {
            height: 100%;
            width: 100%;
            margin: 1px;
        }

        input,
        select {
            margin-left: 4px;
            margin-top: 3px;
        }
    </style>
</head>

<body>
<div id="app">
    <div id="container">

    </div>

    <div class="infoview" style="overflow:auto;left:5px;right:auto; top:10px; width:auto;max-height:40%;">
        <input class="btn btn-primary" id="btnStop" onclick="clickStopDemo()" type="button" value="停止"/>
        <input class="btn btn-primary" id="btnStart" type="button" onclick="clickStartDemo()" value="开始"/>
        <!--<input class="btn btn-primary" id="btnViewLine" type="button" value="查看连接线"/>-->
        <input class="btn btn-primary" id="btnCancelTrack" type="button" onclick="clickCancelTrack()" value="取消跟踪"/>
        <input class="btn btn-primary" id="btnSetting" onclick="showSettingTable()" type="button" value="配置">
        </input>
        <input class="btn" type="checkbox" id="id_switch_path" value="yes"/>
        <label class="form-check-label" for="id_switch_path">路径</label>

        <table class="mars-table tb-border">
            <tr>
                <td id="td_time" colspan="3">第 <strong id="id_xuhao_fangzhen">0</strong> 次仿真，共 <strong
                        id="id_total_fangzhen">0</strong> 次仿真
                </td>
            </tr>
            <tr>
                <!--                <td class="nametd">经度：</td>-->
                <!--                <td id="td_x"></td>-->
                <!--                <td class="nametd">纬度：</td>-->
                <!--                <td id="td_y"></td>-->
                <!--                <td class="nametd">高度：</td>-->
                <!--                <td id="td_z"></td>-->
            </tr>
            <tr>
                <td class="nametd">目标位置：</td>
                <td colspan="2">
                    <strong id="id_td_end_position"></strong>
                </td>
            </tr>
            <tr>
                <td class="nametd">总发送：
                    <strong id="id_td_total_send">0</strong>
                </td>

                <td class="nametd">总接收：
                    <strong id="id_td_total_recv">0</strong>
                </td>

                <td class="nametd">成功率：
                    <strong id="id_td_total_rate">00.00</strong>%
                </td>

            </tr>
            <tr>
                <td class="nametd">簇内统计：
                    <strong id="id_td_total_send_cunei">0</strong>
                </td>

                <td class="nametd">总接收：
                    <strong id="id_td_total_recv_cunei">0</strong>
                </td>

                <td class="nametd">成功率：
                    <strong id="id_td_total_rate_cunei">00.00</strong>%
                </td>

            </tr>
            <tr>
                <td class="nametd">簇间统计：
                    <strong id="id_td_total_send_cujian">0</strong>
                </td>

                <td class="nametd">总接收：
                    <strong id="id_td_total_recv_cujian">0</strong>
                </td>

                <td class="nametd">成功率：
                    <strong id="id_td_total_rate_cujian">00.00</strong>%
                </td>

            </tr>

        </table>
        <a class="btn btn-primary" href="/">主页</a>
        <input class="btn btn-primary" id="btnGetData" onclick="getDataFromServer()" type="button" value="请求数据"/>
        <input class="btn btn-primary" id="btnDetroyNode" onclick="randomDestroyNode()" type="button" value="随机故障"/>
        <input class="btn btn-primary" id="btnCountTranmit" onclick="showCountTranmit()" type="button" value="业务统计"/>
        <a class="btn btn-primary" href="/group/download">下载数据</a>
    </div>


    <div class="infoview" id="id_show_count_transmit"
         style="overflow:auto; left:30%;right:auto; top:32%;max-height:40%; max-width: 25%; display: none">
        <table class="mars-table tb-border">
            <thead>
            <tr style="color: #4db3ff">
                <td class="nametd">节点</td>
                <td class="nametd">发送</td>
                <td class="nametd">接收</td>
                <td class="nametd">传输率</td>
            </tr>

            </thead>
            <tbody id="id_show_count_transmit_tbody">

            </tbody>

        </table>


    </div>

    <div class="infoview" id="id_setting"
         style="overflow:auto; left:30%; top:15%;max-height:60%; display: none">
        <h4>运行配置信息</h4>
        <div class="input-group">
            <p class="text-white text-center">运行倍速: </p>
            <input type="number" id="id_setting_spped" class="form-control" onchange="updateSettingConfig()"
                   placeholder="Speed" value="1">
        </div>

        <div class="input-group">
            <p class="text-white text-center">故障最大比例（百分制）: </p>
            <input type="number" id="id_setting_destroyRate" class="form-control" onchange="updateSettingConfig()"
                   placeholder="Speed" value="1">
        </div>

        <div class="">
            <p class="text-white">结束坐标: </p>
            <input type="text" class="form-control" onchange="updateSettingConfig()" id="id_setting_endPos"
                   placeholder="结束坐标" value="120.492094, 25.874132, 00000">
        </div>
        <div class="input-group">
            <strong class="text-white">群配置信息: </strong>
            <select id="id_setting_net_index" onchange="settingSelecOnChanged(this)"
                    aria-label="Default select example">
            </select>
        </div>

        <div class="">
            <p class="text-white">开始坐标: </p>
            <input type="text" class="form-control" onchange="updateSettingConfig()" id="id_setting_startPos"
                   placeholder="结束坐标" value="120.492094, 25.874132, 00000">
        </div>

        <div class="input-group">
            <p class="text-white text-center">运行时间: </p>
            <input type="number" class="form-control" onchange="updateSettingConfig()" id="id_setting_flyTime"
                   placeholder="飞行时间" value="1">
            <string>S</string>
        </div>

        <div class="input-group">
            <p class="text-white text-center">最大高度: </p>
            <input type="number" class="form-control" onchange="updateSettingConfig()" id="id_setting_maxHeight"
                   placeholder="飞行时最大高度" value="1">
            <string>m</string>
        </div>

        <input class="btn btn-primary" id="btnSubmitSetting" onclick="btnSubmitSettings()" type="button" value="提交配置"/>

    </div>

    <div class="infoview" id="id_show_route_info"
         style="overflow:auto; left:5px;right:auto; top:32%;max-height:40%; max-width: 25%">


    </div>

    <div class="infoview" style="overflow:auto; right:5px;left:auto; top:18%;max-height:55%;">

        <ul class="ztree" id="treeOverlays"></ul>
    </div>
    <!-- 面板 -->
    <div class="infoview" style="overflow:auto; right:5px;left:auto; top:1%;">
        <div>
            <input type="button" class="btn btn-info" value="清除" onclick="removeAll()"/>
            <!-- <input type="button" class="btn btn-info" value="结束(等同双击)" onclick="endDraw()" /> -->
            <!-- <span style="color: #cad1d1;">提示：单击下面按钮激活绘制，按提示操作即可。</span> -->

        </div>

        <div>
            <input type="button" class="btn btn-primary" value="空间距离" onclick="measureLength()"/>
            <input type="button" class="btn btn-primary" value="水平面积" onclick="measureArea()"/>
            <input type="button" class="btn btn-primary" value="高度差" onclick="measureHeight()"/>

            <input type="button" class="btn btn-primary" value="坐标测量" onclick="measurePoint()"/>
        </div>

        <div>
            <input type="button" class="btn btn-primary" value="贴地距离" onclick="measureSurfaceLength()"/>
            <input type="button" class="btn btn-primary" value="贴地面积" onclick="measureSurfaceeArea()"/>
            <input type="button" class="btn btn-primary" value="三角测量" onclick="measureTriangleHeight()"/>

            <input type="button" class="btn btn-primary" value="方位角" onclick="measureAngle()"/>
        </div>
    </div>

</div>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script src="/static/js/vue.global.prod.js" th:src="@{js/vue.global.prod.js}"></script>
<script src="/webjars/axios/0.21.1/dist/axios.min.js" th:src="@{webjars/axios/dist/axios.min.js}"></script>
<script src="/static/lib/Cesium/Cesium.js" th:src="@{lib/Cesium/Cesium.js}"></script>
<script src="/static/lib/mars3d/mars3d.js" th:src="@{lib/mars3d/mars3d.js}"></script>
<script type="text/javascript" th:src="@{webjars/stomp-websocket/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/sockjs-client/sockjs.min.js}"></script>

<script src="webjars/zTree/3.5.37/js/jquery.ztree.all.min.js"
        th:src="@{webjars/zTree/js/jquery.ztree.all.min.js}"></script>
<!-- <script src="/src/main/resources/template/mars3d/lib/Cesium/Cesium.js"></script>
<script src="/src/main/resources/template/mars3d/lib/mars3d/mars3d.js"></script>
<script src="/src/main/resources/template/mars3d/lib/haoutil.js"></script> -->
<script src="/static/js/vue-test.js" th:src="@{js/vue-test.js}"></script>
</body>

</html>