<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>三维动态演示</title>


    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="webjars/zTree/3.5.37/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"
          th:href="@{webjars/zTree/css/zTreeStyle/zTreeStyle.css}"/>

    <link href="/static/lib/Cesium/Widgets/widgets.css" rel="stylesheet" type="text/css"
          th:href="@{lib/Cesium/Widgets/widgets.css}"/>
    <link href="/static/lib/mars3d/mars3d.css" rel="stylesheet" type="text/css" th:href="@{lib/mars3d/mars3d.css}"/>
    <link href="/static/css/style.css" type="text/css" th:href="@{css/style.css}" rel="stylesheet"/>
    <link href="/static/css/mars3d_style.css" type="text/css" th:href="@{css/mars3d_style.css}" rel="stylesheet"/>
    <link href="/static/css/divpoint.css" type="text/css" th:href="@{css/divpoint.css}" rel="stylesheet"/>
    <style>
        html,
        body,
        #app,
        #container {
            height: 100%;
            width: 100%;
            margin: 1px;
        }
    </style>
</head>

<body>
<div id="app">
    <div id="container">

    </div>

    <div class="infoview" style="overflow:auto;left:5px;right:auto; top:10px;max-height:40%;">
        <input class="btn btn-primary" id="btnStop" onclick="clickStopDemo()" type="button" value="停止"/>
        <input class="btn btn-primary" id="btnStart" type="button" onclick="clickStartDemo()" value="开始"/>
        <!--<input class="btn btn-primary" id="btnViewLine" type="button" value="查看连接线"/>-->
        <input class="btn btn-primary" id="btnCancelTrack" type="button" onclick="clickCancelTrack()" value="取消跟踪"/>
        <input class="btn btn-primary" id="btnSetting" onclick="showSettingTable()" type="button" value="配置">
        </input>
        <input class="btn" type="checkbox" id="id_switch_path" value="yes"/>
        <label class="form-check-label" for="id_switch_path">路径</label>


        <table class="mars-table tb-border">
            <tr>
                <td class="nametd">时间：</td>
                <td id="td_time" colspan="2"></td>
            </tr>
            <tr>
                <!--                <td class="nametd">经度：</td>-->
                <!--                <td id="td_x"></td>-->
                <!--                <td class="nametd">纬度：</td>-->
                <!--                <td id="td_y"></td>-->
                <!--                <td class="nametd">高度：</td>-->
                <!--                <td id="td_z"></td>-->
            </tr>
            <tr>
                <td class="nametd">目标位置：</td>
                <td id="td_position" colspan="2"></td>
            </tr>
            <tr>
                <td class="nametd">总发送：
                    <strong id="id_td_total_send">0</strong>
                </td>

                <td class="nametd">总接收：
                    <strong id="id_td_total_recv">0</strong>
                </td>

                <td class="nametd">成功率：
                    <strong id="id_td_total_rate">00.00</strong>%
                </td>

            </tr>
            <tr>
                <td class="nametd">簇内统计：
                    <strong id="id_td_total_send_cunei">0</strong>
                </td>

                <td class="nametd">总接收：
                    <strong id="id_td_total_recv_cunei">0</strong>
                </td>

                <td class="nametd">成功率：
                    <strong id="id_td_total_rate_cunei">00.00</strong>%
                </td>

            </tr>
            <tr>
                <td class="nametd">簇间统计：
                    <strong id="id_td_total_send_cujian">0</strong>
                </td>

                <td class="nametd">总接收：
                    <strong id="id_td_total_recv_cujian">0</strong>
                </td>

                <td class="nametd">成功率：
                    <strong id="id_td_total_rate_cujian">00.00</strong>%
                </td>

            </tr>

        </table>
        <a class="btn btn-primary" href="/">主页</a>
        <input class="btn btn-primary" id="btnGetData" onclick="getDataFromServer()" type="button" value="请求数据"/>
        <input class="btn btn-primary" id="btnDetroyNode" onclick="randomDestroyNode()" type="button" value="随机故障"/>
        <input class="btn btn-primary" id="btnCountTranmit" onclick="showCountTranmit()" type="button" value="业务统计"/>
    </div>


    <div class="infoview" id="id_show_count_transmit"
         style="overflow:auto; left:30%;right:auto; top:32%;max-height:40%; max-width: 25%; display: none">
        <table class="mars-table tb-border">
            <thead>
            <tr style="color: #4db3ff">
                <td class="nametd">节点</td>
                <td class="nametd">发送</td>
                <td class="nametd">接收</td>
                <td class="nametd">传输率</td>
            </tr>

            </thead>
            <tbody id="id_show_count_transmit_tbody">

            </tbody>

        </table>


    </div>

    <div class="infoview" id="id_setting"
         style="overflow:auto; left:30%;right:auto; top:15%;max-height:40%;  display: none">

    </div>

    <div class="infoview" id="id_show_route_info"
         style="overflow:auto; left:5px;right:auto; top:32%;max-height:40%; max-width: 25%">


    </div>

    <div class="infoview" style="overflow:auto; right:5px;left:auto; top:70px;max-height:55%;">

        <ul class="ztree" id="treeOverlays"></ul>
    </div>


</div>

<script th:src="@{webjars/jquery/jquery.min.js}"></script>
<script src="/static/js/vue.global.prod.js" th:src="@{js/vue.global.prod.js}"></script>
<script src="/webjars/axios/0.21.1/dist/axios.min.js" th:src="@{webjars/axios/dist/axios.min.js}"></script>
<script src="/static/lib/Cesium/Cesium.js" th:src="@{lib/Cesium/Cesium.js}"></script>
<script src="/static/lib/mars3d/mars3d.js" th:src="@{lib/mars3d/mars3d.js}"></script>
<script type="text/javascript" th:src="@{webjars/stomp-websocket/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/sockjs-client/sockjs.min.js}"></script>

<script src="webjars/zTree/3.5.37/js/jquery.ztree.all.min.js"
        th:src="@{webjars/zTree/js/jquery.ztree.all.min.js}"></script>
<!-- <script src="/src/main/resources/template/mars3d/lib/Cesium/Cesium.js"></script>
<script src="/src/main/resources/template/mars3d/lib/mars3d/mars3d.js"></script>
<script src="/src/main/resources/template/mars3d/lib/haoutil.js"></script> -->
<script src="/static/js/vue-test.js" th:src="@{js/vue-test.js}"></script>
</body>

</html>